body{
    background-image: url(https://cutewallpaper.org/21/space-gif-background/Animated-backgrounds-GIFs-Get-the-best-GIF-on-GIPHY.gif);
    background-size: cover 100%;
    
}
@keyframes sprinting {
    
    0%{
        transform: translateX(0%);

    }

    100%{
        transform: translateX(100%);
    }
}
.sprinter {
    animation: sprinting 10s ease-in-out initial;
    height: 100%;
    width: 100%;
    border: dotted red;
    height: 12vh;
    width: 6vw;
    margin-top: 50px;
}

.cn{
    border: solid yellow;
    height: 5vh;
    width: 4vw;
    margin-left: 580px;
}
.logo{
    height: 100%;
    width: 100%;
}

.container{
    border: solid pink;
    background-color: rgb(14, 14, 14);
    height: 5vh;
    width: 70vw;
    margin-left: 200px;
    display: flex;
}
.screen{
    border: dotted lime;
    height: 40vh;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    
}
.buttonNav{
    background-image: url(https://cdn.dribbble.com/users/653185/screenshots/3272195/main_v2.gif);
    background-size: cover;
    background-position-x: center;
    display: flex;
    justify-content: space-around;
    width: 20vw;
    align-items: center;
    margin: 5px;
    flex-wrap: wrap;
    flex-direction: column;
}
.abtn{
    font-family: "dosis";
    color:rgb(155, 75, 88);
    background-color: rgb(255, 144, 162);
    border: solid rgb(155, 75, 88);
    box-shadow: 0px 4px rgb(155, 75, 88);
    height: 6vh;
    width: 4vw;
    border-radius: 50%;
}
.bbtn{
    font-family: "dosis";
    color:rgb(0, 88, 0);
    background-color:rgb(0, 192, 0);
    border: solid rgb(0, 88, 0);
    box-shadow: 0px 4px rgb(0, 88, 0);
    height: 6vh;
    width: 4vw;
    border-radius: 50%;
}
.startbtn{
    font-family: "dosis";
    color: rgb(177, 0, 0);
    background-color: black;
    border: solid rgb(177, 0, 0);
    box-shadow: 0px 4px rgb(177, 0, 0);
    height: 5vh;
    width: 8vw;
    border-radius: 25px;
   
}
.music{
    font-family: "dosis";
    color: rgb(177, 0, 0);
    background-color: black;
    border: solid rgb(177, 0, 0);
    box-shadow: 0px 4px rgb(177, 0, 0);
    height: 5vh;
    width: 8vw;
    border-radius: 25px;
}
.retreat{
    font-family: "dosis";
    color: rgb(177, 0, 0);
    background-color: black;
    border: solid rgb(177, 0, 0);
    box-shadow: 0px 4px rgb(177, 0, 0);
    height: 5vh;
    width: 8vw;
    border-radius: 25px;
}
.settings{
    font-family: "dosis";
    color: rgb(177, 0, 0);
    background-color: black;
    border: solid rgb(177, 0, 0);
    box-shadow: 0px 4px rgb(177, 0, 0);
    height: 5vh;
    width: 8vw;
    border-radius: 25px;
}
.jacklogo{
    height: 10vh;
    width: 8vw;
}
.jackpic{
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 10px red;
}
.btnContainer{
    background-color: gray;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
}
.controls{
    font-family: "dosis";
    color: rgb(177, 0, 0);
    background-color: black;
    border: solid rgb(177, 0, 0);
    box-shadow: 0px 4px rgb(177, 0, 0);
    border-radius: 25px;
    height: 4vh;
    width: 8vw;
    text-align: center;   
}
.cntrltxt{
    flex-direction: column;
    align-items: baseline;
}
.btndiv{
    height: 6vh;
    width: 10vw;
    display: flex;
    justify-content: space-around;
}
.txtContainer{
    border: solid rgb(177, 0, 0);
}
.text{
    color: red;
    text-align: center;
    font-family: "dosis";
    flex-wrap: wrap;
}
.test{
    background-color: rgba(0, 0, 0, 0.664);
    height: 20vh;
    width: 5vw;
    box-shadow: 0px 0px 20px black;
}
.bigscreen{
    border: dotted red;
}
.screentxt{
    border: solid purple;
    height: 5vh;
    flex-wrap: wrap;
    color: white;
    font-family: "dosis";
    text-align: center;
}
.bigcontainer{
    background-color: gray;
    height: 75vh;
    width: 35vw;
    display:flex;
  }
.bottom{
    border: solid lime;
    height:  26%;
    margin: 10px;
  }
  .mid, .top{
    height: 30%;
    border: solid lime;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
  }
  .enemybox{
    border: solid purple;
    width: 40%;
    justify-content: space-around;
    margin-right: 200px;
    height: 80%;
    
  }
  #one{
    border: dotted red;
    height: 9vh;
  }
  .tophull{
    border: dotted blue;
    height: 5vh;
  }
  .enemy{
    border: solid orange;
    width: 120px;
    margin-top: 30px;
    margin-left: 200px;
    z-index: 2;
    position: absolute;
    height: 120px;
    border-radius: 25px;
  }
  .playerbox{
    border: solid purple;
    width: 40%;
    justify-content: space-around;
    margin-left: 200px;
    height: 80%;
    margin-top: 18px;
  }
  #two{
    border: dotted red;
    height: 9vh;
  }
  .midhull{
    border: dotted blue;
    height: 5vh;
  }
  .player{
    border: solid orange;
    width: 120px;
    margin-bottom: 30px;
    margin-right: 200px;
    z-index: 5;
    position: absolute;
    height: 120px;
    border-radius: 25px;
  }