body{
    background-image: url(https://cutewallpaper.org/21/space-gif-background/Animated-backgrounds-GIFs-Get-the-best-GIF-on-GIPHY.gif);
    background-size: cover;
}
@keyframes sprinting {
    
    0%{
        transform: translateX(0%);

    }

    100%{
        transform: translateX(100%);
    }
}
.sprinter {
    animation: sprinting 10s ease-in-out initial;
    height: 100%;
    width: 100%;
    border: dotted red;
    height: 12vh;
    width: 6vw;
    margin-top: 50px;
}

.cn{
    border: solid yellow;
    height: 6vh;
    width: 6vw;
}
.logo{
    height: 100%;
    width: 100%;
}

.container{
    border: solid yellow;
    height: 70vh;
}
.screen{
    border: solid lime;
    height: 65vh;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.left, .right{
    border: solid white;
    width: 20%;
    margin: 10px;
    align-items: center;
    background-color: black;
}
.mid{
    border: solid white;
    width: 60%;
    margin: 10px;
}
.jax{
    height: 100%;
    width: 100%;
}
.player2{
    height: 100%;
    width: 100%;
}
.scene{
    height: 100%;
    width: 100%;
}
